img{
    max-width: 75px; 
    height: 160px;
    padding: 0px;
    float:left;
    margin-left: 0px;
}



h2{
    text-align: center;
}
.contents{
    margin-left: 20px ;
    background-color:white;
    padding: 20px;
    
}

.details{
    margin-left: 100px;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/