img{
    max-width: 80px; 
    height: 130px;
    
    float:left;
    margin-left: 0px;
}



.contents{
    margin-left: 100px ;
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/